@font-face {
    font-family: Overpass-Bold;
    src: url("../fonts/overpass-bold.otf") format("truetype");
}

@font-face {
    font-family: Overpass-Semibold;
    src: url("../fonts/overpass-semibold.otf") format("truetype");
}

@font-face {
    font-family: Overpass-Regular;
    src: url("../fonts/overpass-regular.otf") format("truetype");
}

@font-face {
    font-family: Overpass-Heavy;
    src: url("../fonts/overpass-heavy.otf") format("truetype");
}

@font-face {
    font-family: Overpass-Light;
    src: url("../fonts/overpass-light.otf") format("truetype");
}

body {
    font-family: Overpass-Bold;
}

header {
    background-color: #fff !important;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: 0;
}

footer {
    background-color: #2f1d56;
    color: #fff;
    padding: 50px 0px 50px 0px;
}

footer .category-label {
    font-family: Overpass-Heavy;
}

.font-weight-lighter {
    font-family: Overpass-Light !important;
}

.font-weight-normal {
    font-family: Overpass-Regular !important;
}

.font-weight-bold {
    font-family: Overpass-Bold !important;
}

.font-small {
    font-size: 15px;
}

.overpass-heavy {
    font-family: Overpass-Heavy !important;
}

.float-right {
    float: right;
}

p {
    font-family: Overpass-Regular;
    font-size: 16px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

.navbar-light, .jumbotron {
    background-color: #fff !important;
}

.navbar-brand {
    font-family: Overpass-Bold;
    font-size: 28px;
    margin-right: calc(50% - 320px);
}

.navbar {
    padding: 13px 10px 9px 10px;
}

.nav-link {
    font-family: Overpass-Semibold;
    font-size: 16px;
}

.section-first {
    width: 100%;
    background-color: #2f1d56;
}

.section-first .container {
    padding: 56px 0px 56px 0;
    margin-top: 74px;
}

.section-second .text-content {
    color: #000 !important;
}

.section-third {
    background-color: #f7f7f7;
    width: 100%;
    padding: 50px 0px 40px 0px;
}

.section-forth {
    padding: 70px 0px;
}

.section-forth .container div {
    color: #000 !important;
}

.text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
}

.text-content > div {
    margin: 15px 0px;
}

.text-content .btn-success {
    background-color: #76f2a6;
    color: #000 !important;    
    font-size: 18px;
    border-radius: 8px;
    padding: 13px 18px 10px 18px;
    font-family: Overpass-Semibold;
    border: unset !important;
}

.category-label {
    font-family: Overpass-Bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.img-box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
}

.jumbotron {
    margin-bottom: unset !important;
}

@media (max-width: 576px) {
    iframe {
        height: 60vw;
    }

    .navbar-brand {
        margin-right: unset;
    }
}

@media (min-width: 576px) {
    iframe {
        height: 320px;
    }

    .jumbotron {
        padding: 3.4em 2em 2.9em 2em;
    }
}

@media (min-width: 768px) {
    iframe {
        height: 480px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    iframe {
        height: 350px;
    }

    .section-first .container > div {
        display: flex;
    }

    .section-first .text-content {
        padding-right: 11%;
    }
}


